@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --bg-primary: #121212;
  --bg-secondary: #1e1e1e;
  --bg-third: #2f2f2f;
  --bg-input: #2c2c2c;
  --nav-bg: #2f2f2f;

  --text-primary: #e0e0e0;
  --text-secondary: #aaaaaa;

  --border-color: #333333;

  --accent-color: #ffd15b;
  --shadow-color: #43361637;
  --accent-red: #ef4444;

  --font-main: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}